@charset "UTF-8";

table.sample {
    border-width: 1px;
      border-spacing: 1px;
      border-style: outset;
      border-color: black;
      border-collapse: separate;
      background: white
      vertical-align: top
 }
  table.sample td {
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: black;
    background: white
    vertical-align: top;
 }
 table
 {
    width:800px;
    height:1020px;
 }
 td
 {
    vertical-align:top;
    width:795px;
    border:3px;
    padding:10px;
    margin:1px; 
    float:left;  
}
 #hrb{
    color:#7abee6;
 }
 #indus{
    color:#d14141;
 }
 img{
    padding:30px;
    width:150px;
    height:150px;
    display:inline;
 }
.sp{
    display:inline;
}
